<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initialInvestment">Initial Investment:</label>
      <input type="number" id="username"  min="0" name="username" [(ngModel)]="enteredInitialInvestment" />
    </p>
    <p>
      <label for="annualInvestment">Annual Investment:</label>
      <input
        type="number"
        id="enteredAnnualInvestment"
        name="enteredAnnualInvestment"
        [(ngModel)]="enteredAnnualInvestment"
        min="0"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expectedReturn">Expected Return:</label>
      <input
        type="number"
        id="expectedReturn"
        name="expectedReturn"
        [(ngModel)]="enteredExpectedReturn"
         min="0"
      />
    </p>

    <p>
      <label for="duration">Duration:</label>
      <input
        type="number"
        id="enteredDuration"
        name="enteredDuration"
        [(ngModel)]="enteredDuration"
         min="0"
      />
    </p>
  </div>
  <button type="submit">Submit</button>
</form>
